* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: rgb(39, 166, 0);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    position: absolute;
    top: 30px;
    left: 30px;
    color: rgb(39, 166, 0);
    text-align: left;
}

.square-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.logo {
    width: 150px;
    height: auto;
    animation: electricGlow 1.5s infinite alternate;
}

@keyframes electricGlow {
    0% {
        box-shadow: 0 0 8px green, 0 0 20px green, 0 0 30px green, 0 0 40px green;
    }
    50% {
        box-shadow: 0 0 15px green, 0 0 30px green, 0 0 50px green, 0 0 80px green;
    }
    100% {
        box-shadow: 0 0 8px green, 0 0 20px green, 0 0 30px green, 0 0 40px green;
    }
}

header h2 {
    font-size: 3.5rem;
    font-weight: bold;
}

header h3 {
    font-size: 1.8rem;
    margin-top: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
}

.square {
    background-color: rgb(17, 187, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 270px;
    border-radius: 10px;
    cursor: pointer;
    animation: electricGlow 1.5s infinite alternate;
}

a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
